---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404: Not found">
  <div
    class="mx-auto flex max-w-3xl flex-1 items-center justify-center p-32 h-screen;"
  >
    <div class="mb-14 flex flex-col items-center justify-center">
      <h1 class="text-9xl font-bold">404</h1>
      <p class="mt-4 text-2xl sm:text-3xl">Page not found</p>
    </div>
  </div>
</Layout>
