---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404: Not found>">
  <div id="main-content">
    <div class="not-found-wrapper">
      <h1>404</h1>
      <p>Page not found</p>
    </div>
  </div>
</Layout>

<style>
  #main-content {
    @apply mx-auto flex max-w-3xl flex-1 items-center justify-center p-32 h-screen;
  }
  .not-found-wrapper {
    @apply mb-14 flex flex-col items-center justify-center;
  }
  .not-found-wrapper h1 {
    @apply text-9xl font-bold;
  }
  .not-found-wrapper p {
    @apply mt-4 text-2xl sm:text-3xl;
  }
</style>
