---
import { NavItem } from "@/components/nav-item";
import { navConfig } from "@/config/nav";
import { MainNavItem } from "types";
---

<div class="border-b flex justify-center">
  <div class="flex gap-6 md:gap-10 justify-between p-3 w-xl px-8">
    <nav class="gap-6 flex">
      {
        navConfig.map((item: MainNavItem) => (
          <NavItem item={item} client:load />
        ))
      }
    </nav>
    <slot />
  </div>
</div>
