---
import { ProjectSectionItem } from "@/components/projects-section-item";
import { projects } from "@/config/projects";
import { projectsSectionConfig } from "@/config/projects-section";
import { Project } from "types";

const { title, paragraph } = projectsSectionConfig;
---

<div class="w-full flex justify-center">
  <section
    id="projects"
    class="container space-y-6 bg-slate-50 py-8 dark:bg-transparent md:py-12 lg:py-24 w-xl"
  >
    <div
      class="mx-auto flex max-w-[58rem] flex-col items-center space-y-4 text-center"
    >
      <h2
        class="leading-[1.1] text-2xl sm:text-3xl md:text-6xl"
      >
        {title}
      </h2>
      <p
        class="max-w-[85%] leading-normal text-muted-foreground sm:text-lg sm:leading-7"
      >
        {paragraph}
      </p>
    </div>
    <div
      class="mx-auto grid justify-center gap-4 sm:grid-cols-2 md:max-w-[64rem] md:grid-cols-3"
    >
      {
        projects?.map((project: Project) => (
          <ProjectSectionItem item={project} />
        ))
      }
    </div>
  </section>
</div>
